<!DOCTYPE html>
<html>
<head>
<link href="/css/debian.css" rel="stylesheet" type="text/css">
<link href="/css/udd.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/js/jquery-ui-1.13.2/jquery-ui.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.1.13.6.css"/>
<title>UDD - Lintian</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<div id="header">
  <div id="wikisection">
    <p class="section"><a href="/" title="Ultimate Debian Database">UDD</a></p>
  </div>
  <div id="upperheader">
    <div id="logo">
        <a href="https://www.debian.org" title="Debian Home"><img src="/img/openlogo-50.png" alt="Debian" width="50" height="61"></a>
    </div>
  </div> <!-- end upperheader -->
  <div id="navbar">
    <p class="hidecss"><a href="#content">Skip Quicknav</a></p>
    <ul>
       <li><a href="/">Ultimate Database</a></li>
       <li><a href="/bugs/">Bugs search</a></li>
       <li><a href="/dmd/">Maintainer dashboard</a></li>
       <li><a href="/lintian/">Lintian</a></li>
    </ul>
  </div> <!-- end navbar -->
  <p id="breadcrumbs">&nbsp;Lintian</p> 
</div> <!-- end header -->

<div id="content">
    <h1 id='dashboard'>Lintian</h1>
<form id="searchForm" action="/lintian/#all" method="get">
<table>
<tbody>
  <%= ERB.new(File.read(File.expand_path('templates/dmd-form.erb')), nil, nil, '_erbout01').result(binding) %>
    <tr>
        <th>Format</th>
        <td>
         <label><input type='radio' name='format' value='html' checked> HTML</label>
         <label><input type='radio' name='format' value='json'> JSON</label>
         <label><input type='radio' name='format' value='yaml'> YAML</label>
        </td>
    </tr>
    <tr>
        <th>Filters</th>
        <td>
          <label><input type='checkbox' name='onlydev' <%= params['onlydev'] ? 'checked' : '' %>> Exclude packages not in unstable or experimental</label><br>
          <label><input type='checkbox' name='onlyrecent' <%= params['onlyrecent'] ? 'checked' : '' %>> Exclude packages not uploaded during the last month</label><br>
          <label><input type='checkbox' name='onlytesting' <%= params['onlytesting'] ? 'checked' : '' %>> Exclude packages not in testing</label><br>
          <label><input type='checkbox' name='onlysidnottesting' <%= params['onlysidnottesting'] ? 'checked' : '' %>> Include only packages in sid but not in testing</label><br>
          <label><input type='checkbox' name='onlykey' <%= params['onlykey'] ? 'checked' : '' %>> Include only key packages</label>
        </td>
    </tr>
    <tr>
      <th>Tag types</th>
      <td>
        <%
          ['error', 'warning', 'information', 'pedantic', 'experimental', 'overridden', 'masked', 'classification'].each do |tt| %>
          <label><input type='checkbox' name='<%= "lt_#{tt}" %>' <%= params["lt_#{tt}"] ? 'checked' : '' %>> <%= tt %></label>
        <% end %>
       </td>
    </tr>
    <tr>
      <th>Tag name</th>
      <td><input id="lintian_tag" type='text' size='32' name='lintian_tag' value='<%= params['lintian_tag'] %>'></td>
    </tr>
    <tr>
        <th>
        </th>
        <td>
            <input type='submit' value='Search' onsubmit="removeBlankFields(this);" class='btn-lg'/>
        </td>
    </tr>
</tbody>
</table>
</form>

<% if uddd %>

<h2 id='all'><a id='all'></a>All issues</h2>
<table class="buglist table table-bordered table-hover display compact" id="lintian">
<thead>
<tr>
    <th>source</th>
    <th>version</th>
    <th>binary</th>
    <th>tag type</th>
    <th>tag</th>
    <th>information</th>
    <th><span title="tags affecting binary packages are counted once per architecture">count</th>
</tr>
</thead>
<tbody>
    <% uddd.lintian['all'].each do |t| %>
    <tr>
      <td class="nowrap"><a href="https://tracker.debian.org/<%= t['source'] %>"><%= t['source'] %></a></td>
      <td class="nowrap"><%= t['version'] %></td>
      <td class="nowrap"><%=
      if t['package']
        "<span title=\"#{t['architectures'].join(',')}\">#{t['package']}/#{t['package_version']}</span>"
      end
      %></td>
      <td class="nowrap"><%= t['tag_type'] %></td>
      <td class="nowrap">
        <%= if t['lintian_version'] != uddd.lintian['current_lintian_version'] then "<span title=\"Result from lintian #{t['lintian_version']}, needs refresh\"><i>" else "" end %>
            <a href="https://udd.debian.org/lintian-tag.cgi?tag=<%= t['tag'] %>"><%= t['tag'] %></a>
        <%= if t['lintian_version'] != uddd.lintian['current_lintian_version'] then "</span><i>" else "" end %>
      </td>
      <td class="nowrap"><%= CGI.escape_html(t['information']) %></td>
      <td class="nowrap"><%= t['count'] %></td>
    </tr>
    <% end %>
</tbody></table>

<small><b>Generated in <%= sprintf "%.2f", Time::now - tstart %> seconds.</b></small><br/>
<small>The most recent lintian version known by UDD is <%= uddd.lintian['current_lintian_version'] %>. Results in <i>italic</i> are from an older version.</small><br/>
<% if uddd.lintian['unknown_sources'] > 500 %>
  <small><b>ERROR:There are <%= uddd.lintian['unknown_sources'] %> source packages in unstable or experimental that are unknown by the UDD lintian data. This is probably a bug. Please notify debian-qa@lists.debian.org.</small></b>
<% end %>

<% end %><!-- end if uddd -->
<br />
<br />
</div><!-- end content -->
<div id="footer">
<div id="fineprint">
    <p>
    Ultimate Debian Database:
    <a href="https://wiki.debian.org/UltimateDebianDatabase/"> hacking / bug reporting / contact information</a><br />
    Debian is a registered trademark of <a href="http://www.spi-inc.org/">Software in the Public Interest</a>
    </p>
</div>
</div>
<script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
<script type="text/javascript" src="/js/jquery.dataTables.1.13.6.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/js/lintian.js"></script>
<script type="text/javascript" src="/js/removeblankfields.js"></script>
<script type="text/javascript" src="/js/quicknav.js"></script>
</body>
</html>
